@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.bg-cerebro{
    background-color: #3498db;
}
.bg-cerebro-dark{
    background-color: #2771a2;
}

.ring-cerebro-default{
    --tw-ring-color: rgb(52 152 219 / var(--tw-text-opacity));
}

.text-cerebro-default{
    --tw-text-opacity: 1;
    color: rgb(52 152 219 / var(--tw-text-opacity));
}

.order-filter{
    align-self: flex-start;
}

.logout-icon-sm,
.account-circle-icon-sm,
.account-box-icon-sm,
.cancel-icon-sm,
.category-icon-sm,
.event-icon-sm,
.calendar-month-icon-sm,
.map-icon-sm,
.subtitles-icon-sm,
.numbers-icon-sm,
.expand-more-icon-sm,
.pin-icon-sm,
.feed-icon-sm,
.rate-review-icon-sm,
.double-arrow-icon-sm{
    font-size: 18px!important;
    user-select: none;
}

.material-icons-outlined{
    user-select: none;
}

.box-scroll::-webkit-scrollbar {
    width: 4px;
    cursor: pointer;
    /*background-color: rgba(229, 231, 235, var(--bg-opacity));*/

}
.box-scroll::-webkit-scrollbar-track {
    background-color: rgba(229, 231, 235, var(--bg-opacity));
    cursor: pointer;
    /*background: red;*/
}
.box-scroll::-webkit-scrollbar-thumb {
    cursor: pointer;
    background-color: #a0aec0;
    /*outline: 1px solid slategrey;*/
}

.expand-more-icon-rotated{
    transform: rotate(180deg);
    transition: 0.5s;
}








/* --------------------------------ANIMATIONS---------------------*/

@keyframes orderCollapse {
    from {

    }
    to {
        opacity: 0;
        height: 0;
    }
}

@keyframes orderExpand {
    from {

    }
    to {
        opacity: 100;
        min-height: 100px;
    }
}

@keyframes orderFadeOn {
    0% {
        opacity: 0;
        position: absolute;
    }
    50% {
        opacity: 0;
        position: relative;
        transform: scale(0);
    }
    100% {
        position: relative;
        opacity: 100;
        transform: scale(1);
    }
}
